// ----------------------------
// Toggle Slide
// ----------------------------
//Collapse
.slide-collapse {
  visibility: hidden;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s;

  &.show {
    visibility: visible;
    max-height: 5000px;
    transition: all 1s;
  }
}
