html {
  position: relative;
  min-height: 100%;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000;
  outline: 0;
}

img {
  &.img-responsive {
    max-width: 100%;
  }
}

ul {
  &.regularList {
    list-style-type: disc;
    padding-left: 20px;

    li {
      display: list-item;
      margin: 0 0 0 20px;
      padding: 8px 0 0;
      font-size: 1rem;
    }
  }
}

hr {
  margin: 25px 0;
  border: none;
  border-bottom: 1px solid #e9e9e9;
}

header {
  .mainNav {
    display: none;

    &.menuDisplay {
      display: flex;

      @media screen and (max-width: 800px) {
        display: block;
      }
    }
  }
}
